* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #3A393A;
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
}
.gameSpace{
  position: absolute;
  width: 100%;
  max-width: 400px;
}
.chatSpace{
  float: left;
  width: 100%;
  max-width: 400px;
}
.BoardSVG{
  display: block;
}
.gameBox{
  overflow: auto;
}
input[type="text"] {
  width: 70%;
  margin-top: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 28px;
  text-align: center;
  color: #3A393A;
}
input[type="text"]::placeholder {
  font-weight: 100;
  color: #3A393A;
  opacity: 1;
}
input[type="submit"]{
  margin-top: 10px;
  padding: 0 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  height: 28px;
  text-align: center;
  color: #0A5A30;
  font-weight: 700;
  background-color: #00A651;
}
.Chat{
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  background-color: #3A393A;
  width: 100%;
  text-align: left;
}
.Chat input[type="text"] {
  margin: 10px;
  width: 60%;
  max-width: 400px;
  text-align: left;
  padding-left: 5px;
}
.ErrorMsg{
  color: #ED1C24;
}
.chatBox{
  position: fixed;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  bottom: 0;
  text-align: left;
  list-style: none;
  color: #fff;
  overflow: scroll;
  overflow-x: hidden;
  transform: translateY(-48.5px);
  max-width: 400px;
  background-color: #3A393A99;
}
li {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
}
li:first-child{
  font-weight: bold;
}
li span{
  border-radius: 10px;
  background-color: #00A651;
  padding: 0 10px;
  margin-right: 5px;
}
li span.error{
  background-color: #ED1C24;
}
li span.grey{
  background-color: #fff;
  color:#3A393A;
}
.ColorPicker{
  color: #fff;
  border: none;
  width: 30px;
  height: 30px;
  margin: 5px;
  margin-top: 10px;
  border-radius: 15px;
}
.ColorPickerP{
  color: #fff;
  margin-top: 30px;
}
.red{
  background-color: #ED1C24;
}
.blue{
  background-color: #00AEEF;
}
.yellow{
  background-color: #FFF200;
}
.green{
  background-color: #00A651;
}
.purple{
  background-color: #EC008C;
}
.orange{
  background-color: #F26522;
}
